{
	auto_https off

	filesystem my-s3-fs s3 {
        bucket "default"
        region "us-east-1"
        endpoint "http://localhost:9000"
        use_path_style
	}
}

localhost:80

log {
	level DEBUG
}

route /assets/* {
	uri strip_prefix /assets

	file_server {
		fs my-s3-fs
		pass_thru
	}
}
