version: "3.8"

services:
    minio:
        image: quay.io/minio/minio
        command: server /data --console-address ":9090"
        environment:
            MINIO_ROOT_USER: admin
            MINIO_ROOT_PASSWORD: admin1234
        volumes:
          - ./var/minio:/data
        ports:
          - 127.0.0.1:9000:9000
          - 127.0.0.1:9090:9090
